In [4]:
import pandas as pd 
df = pd.read_csv('dataset1.csv')
df

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,Output
0,138,8.6,560,7.46,0.62,0.70,5.90,0.24,0.31,0.77,8.71,0.11,0
1,213,7.5,338,7.62,0.75,1.06,25.40,0.30,0.86,1.54,2.89,2.29,0
2,163,9.6,718,7.59,0.51,1.11,14.30,0.30,0.86,1.57,2.70,2.03,0
3,157,6.8,475,7.64,0.58,0.94,26.00,0.34,0.54,1.53,2.65,1.82,0
4,270,9.9,444,7.63,0.40,0.86,11.80,0.25,0.76,1.69,2.43,2.26,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,351,10.7,623,7.96,0.51,0.29,7.24,0.36,4.69,0.69,11.03,0.69,1
876,264,9.0,486,7.24,0.47,0.10,3.92,0.35,8.26,0.45,7.98,0.40,1
877,276,9.2,370,7.62,0.62,0.49,6.64,0.42,3.57,0.63,6.48,0.32,1
878,320,13.8,391,7.38,0.65,1.07,5.43,0.58,4.58,1.02,13.25,0.53,2
879,264,10.3,475,7.49,0.74,0.88,10.56,0.45,7.36,1.87,10.63,0.63,0

In [8]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt

# Load the dataset
# Replace 'your_dataset.csv' with the path to your dataset
data = pd.read_csv('dataset1.csv')

# Display the first 5 rows of the dataset
print("First 5 rows of the dataset:")
print(data.head())

# Display basic information about the dataset
print("\nDataset Info:")
print(data.info())

# Display summary statistics
print("\nSummary Statistics:")
print(data.describe())

# Check for missing values
print("\nMissing Values:")
print(data.isnull().sum())

# Example Analysis: Correlation Matrix
print("\nCorrelation Matrix:")
print(data.corr())

# Plotting example: Histogram of a column (replace 'column_name' with your column)
column_name = 'N'  # Change this to a valid column name
if column_name in data.columns:
    plt.figure(figsize=(8, 6))
    data[column_name].hist(bins=30, color='blue', alpha=0.7)
    plt.title(f"Histogram of {column_name}")
    plt.xlabel(column_name)
    plt.ylabel("Frequency")
    plt.show()
else:
    print(f"Column '{column_name}' not found in the dataset.")

# Example Analysis: Grouping and aggregation
if column_name in data.columns:
    print("\nGroup by Example:")
    group_analysis = data.groupby(column_name).mean()
    print(group_analysis)

# Scatter plot for two numerical columns (replace 'x_column' and 'y_column' with valid column names)
x_column = 'p'  # Change this to a valid column name
y_column = 'k'  # Change this to a valid column name
if x_column in data.columns and y_column in data.columns:
    plt.figure(figsize=(8, 6))
    plt.scatter(data[x_column], data[y_column], alpha=0.7, color='green')
    plt.title(f"Scatter Plot of {x_column} vs {y_column}")
    plt.xlabel(x_column)
    plt.ylabel(y_column)
    plt.show()
else:
    print(f"Columns '{x_column}' or '{y_column}' not found in the dataset.")